.dk_container:focus {outline: 0; }
.dk_container a {cursor: pointer; text-decoration: none; }
.dk_toggle {position: relative; }
.dk_toggle:after {position: absolute;top: 50%; margin-top:-4px;right:14px;content: '';border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #ffffff; z-index: 2; }
.dk_toggle:before{ background:#cc9933; width:42px; height:60px; position: absolute;top:0;right:0;content: ''; z-index:1;}
.dk_options li:last-child a {border-bottom: none; }
.dk_options .disabled {cursor: default; }
.dk_options .disabled a {color: #aaa; }
.dk_options .disabled:hover, .dk_options .disabled:hover a
.dk_options .disabled:focus, .dk_options .disabled:focus a {cursor: default;background-color: #fff;border-bottom-color: #999;text-shadow: none; }
.dk_container {display: none;}
.dk_container a {outline: 0; }
.dk_toggle {display: -moz-inline-stack;display: inline-block;*display: inline;position: relative;zoom: 1; }
.dk_open {position: relative; }
.dk_open .dk_options {display: block; }
.dk_open .dk_label {color: inherit; }
.dk_options {display: none;position: absolute;right: 0;width: 100%; z-index:3; }
.dk_options a, .dk_options a:link, .dk_options a:visited {display: block; }
.dk_options_inner {overflow: auto;position: relative;-webkit-overflow-scrolling: touch; }
.dk_container select {position: absolute;top: -99999em;visibility: hidden; }
.dk_mobile {position: relative; }
.dk_mobile select {display: block;width: 100%;height: 100%;top: 0;left: 0;visibility: visible;opacity: 0;appearance: none;-moz-appearance: none;-webkit-appearance: none; }