// susy setup
$total-columns		: 12;
$column-width		: 4em;
$gutter-width		:1em;
$grid-padding		:$gutter-width;

$susy: (
        flow: ltr, // ltr |rtl
        Output: float, //float | isolate
        math: fluid, // fluid | static (requires column-width)
        column-width: false, // false | value
        container: auto, //length or % | auto
        container-position: center, // left | center | right
        last-flow: to,
        columns: 12,
        gutters: 1/2,
        gutter-position: inside, //before | after | split | inside |
        global-box-sizing: content-box, // content-box | border-box
        debug: (
                image: hide, //show | hide
        ),
);

@include border-box-sizing;

$small                      : 10em;
$medium                     : 20em;
$large                      : 30em;

// container layout
.container-layout{
        @include container(1170px);
}
// Main Header -----------------------------------------------
.main-header{
      h1.logo{
        @include span(3.5 of 12);
      } 
      ul.primary-nav{
        @include span(8.5 omega of 12);
        text-align:right;
      }
}
// Featured Events Lists ----------------------------------
.featured-events-lists{
        margin-bottom:45px;
        .events{
                article{
                        @include span(4 of 12);
                }
        }
}
// Intro Tagline --------------------------------------
.intro-tagline{
     @include span(12 of 12);   
}
// Intro About --------------------------------------
.intro-about{
        @include container(970px);
        article.content{
                @include span(6 of 12);
        }
        div.video{
                @include span(6 of 12);
        }
}
// Our Stats -------------------------------------
.our-stats{
        .stat-block{
                @include span(3 of 12);
        }
}
// Featured Colleges ------------------------------
.featured-collages{
        margin-bottom:140px;
        // section desc-------------------
        .section-desc{
                @include container(970px);
                padding:0 40px;
                margin-bottom:40px;
        }
}
// Vertical Tab Content ----------------
.vertical-tab-content{
        overflow:hidden;
      .tab-link{
        @include span(4.3 of 12);
      }
      .tab-view-content{
        @include span(7.7 omega of 12);
      }
}
// Featured Notices -------------------
.featured-notices{
       ul{
        @include container(830px);
        li{
            div.notice-title{
                @include span(8 of 12);
            }
            div.notice-date{
                @include span(4 of 12);
            }  
        }
       } 
}
// Site Footer --------------------------------
.site-footer{
        .top-footer{
                .block{
                      @include span(3.25 of 12); 
                      &:last-child{
                        @include span(2.25 of 12);
                      } 
                }
        }
}
// Page Content Holder 2 col layout ------------------
.page-content-holder.two-col-layout{
    aside.page-side-bar{
        @include span(2.2 of 12);
    }
    .page-content{
        //@include span(9.8 of 12);
        overflow:hidden;
        width:auto;
        float:none;
        clear:none;
        padding:0 15px;
        .course-label{
        margin:0 -15px 50px -15px;
            .course-label-item{
                padding:15px;
                @include span(4 of 12);
                figure{
                    img{width:100%;padding:0;}
                }
                .content{
                    padding:15px;
                }
            }
        }
    }
}
// Courses
.courses{
    margin:0 -15px;
}
// Page Content Holder full col layout --------------------
.page-content-holder.full-col-layout{
    .page-content{
        .course-label-item{
            .content{padding:15px;}
        }
    }
}
// Misson Vision
.mission-vision{
    .content{   
        @include span(6 of 12);
    }
}
//About Chairman
.about-chairman{
    .about-chairman-content{
        figure{
            @include span(5 of 12);
        }
        div.content{
            @include span(7 of 12);
        }
    }
}
// Contact Institute Health Science
.contact-institute-health-science{
    .contact{
        @include span(4 of 12);
    }
}
// Contact Colleges
.colleges-contact{
    .contact{
        @include span(4 of 12);        
    }
}
// College Facilities ------------------------
.college-facilities{
    .facility-item{
        .content{
            @include span(6.8 of 12);  
        }
        figure{
            @include span(5.2 of 12);  
        }
    }
}