@media screen and (max-width:1200px) {
	.primary-nav{
		li{
			a{
				font-size:15px;
				padding:18px 10px;
			}
		}
	}
	div.slider-content{
		figure.banner-artwork{
			display:none;
		}	
	} 
	.site-banner .owl-item .item div.slider-content figure.banner-artwork img{max-width:100px;}
}
@media screen and (max-width:1024px) {
// Main Header -----------------------------------------------
.main-header{
	padding-top:25px;
      h1.logo{
        @include span(3 of 12);
      } 
      ul.primary-nav{
        @include span(9 omega of 12);
        text-align:right;
        margin-top:5px;
      }
}
nav.next{
	right:15px;
}
nav.prev{
	left:15px;
}
// Vertical Tab Content ----------------
.vertical-tab-content{
        overflow:hidden;
      .tab-link{
        @include span(6 of 12);
      }
      .tab-view-content{
        @include span(6 of 12);
        .tab-content-item{
        	.item-desc{
        		position:static;
        		width:100%;
        	}
        }
      }
}
}  
@media screen and (max-width:800px) {
	// Burger Menu -------------------
	.buger-menu{
		display:block;
	}
// Main Header -----------------------------------------------
.main-header{
	padding-top:25px;
      h1.logo{
        @include span(8 of 12);
        text-align:center;
      } 
      ul.primary-nav{
        display:none;
      }
}
// Site Banner -----------------------
.site-banner{
	.banner-slider{
		display:none;
	}
	.banner-hero-content{
		position:relative;
		background:rgba(0,0,0,0.1);
	}
}
.site-header{
	.top-header{
		min-width:inherit;
		width:100%;
		float:none;
		&:before{
			display:none;
		}
		&:after{
			display:none;
		}
	}
}
// Our Stats -------------------------------------
	.our-stats{
	    .stat-block{
	        @include span(12 of 12);
	            margin-bottom:35px;
	            &:last-child{
	            	margin-bottom:0;
	            }
	        }
	}
	.site-header .main-header.sticky h1.logo{
		max-width:35%;
	}
		// Featured Event Lists ----------------------
	.featured-events-lists{
		.events article{
			@include span(12 of 12);
			margin-bottom:15px;
			&:last-chils{
				margin-bottom:0;
			}
		}
	} 
	nav.prev, nav.next{top:25px; margin-top:0;}
	nav.next{right:inherit; left:55px;}
	.vertical-tab-content{
		.tab-view-content, .tab-link{
			@include span(12 of 12);
			float:none;
		}
	}
}
@media screen and (max-width:767px) {
	// Intro About --------------------------------------
	.intro-about{
		margin-bottom:50px;
        article.content{
                @include span(12 of 12);
                margin-bottom:30px;
        }
        div.video{
                @include span(12 of 12);
        }
	}
}
@media screen and (max-width:480px) {
	.site-header .main-header.sticky h1.logo{
		max-width:50%;
	}
}